<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Registration form</h1>
    <form action="/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Salary</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="salary" name="salary">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Experiance</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="experiance" name="experiance">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Join Date</label>
    <input class="form-control" type="date" value="dd-mm-yyyy" id="example-date-input" placeholder="joindate" name="joindate">
    
  </div>
  <div class="form-group">
    <input type="radio" class="form-group-input" id="exampleCheck1" value="user" name="isuser" >
    <label class="form-group-label" for="exampleCheck1">user</label>
  </div>
  <div class="form-group">
    <input type="radio" class="form-group-input" id="exampleCheck1" value="member" name="isuser"
    <label class="form-group-label" for="exampleCheck1">member</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>